$btn-color: rgba(213, 209, 209, 0.987);
$bc-color: black;

body {
  background-color: $bc-color;
  margin: 5px;
}

.btn-outline-light {
  --bs-btn-font-weight: 600;
  --bs-btn-hover-color: var($btn-color);
  margin: 7px;

 
}


  
  section {
    width: 100%;
    margin: 5px;
  }

  .image-start {
    width:620px;

  }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 5px; 
      padding: 5px;   
    }
  